@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

.font-family {
    font-family: "Poppins", sans-serif;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-100 {
    line-height: 100%;
}

.transition {
    transition: all 100ms linear;
}

.logo:hover {
    cursor: pointer;
    scale: 1.06;
}

.nav-button {
    border-radius: 23px;
    padding: 11px 28px;
    border: none;
    margin-left: 50px;
}

nav {
    padding-top: 17px;
    padding-bottom: 17px;
    box-shadow: 0px 8px 35px 0px #0000000D !important;
}

.card1 {
    border-radius: 20px;
    padding: 13px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    margin-right: 20px;

}

.card2 {
    max-width: 171px;
    border-radius: 20px;
    padding: 30px 55px;
}

.card3 {
    padding: 28px;
    box-shadow: 0px 8px 35px 0px #0000001A;
    border-radius: 30px;
}

.parent {
    display: grid;
    margin: auto;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 /2;
}

.image {
    border-radius: 20px;
    cursor: pointer;
}

.image:hover {
    scale: 1.06;
}

.column-gap-29 {
    column-gap: 29px;
}

.box1 {
    max-width: 100px;
    height: 100px;
    padding: 3px 15px;
    border-radius: 20px;
    top: 40%;
    right: 3%;
}

.post-comment {
    border: none;
    padding: 13px 28px;
    border-radius: 36px;

}

::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-sm);
    font-size: var(--fs-lg);
    line-height: 150%;
}

.input {
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 85px;
    margin-top: 40px;
    height: 57px;
    width: 100%;
}

.box2 {
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #F1F2F5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.box3 {
    padding: 34px;
    border: 1px solid #00000033;
    border-radius: 30px;
}

.footer-description {
    padding-top: 36px;
    max-width: 346px;
}

.footer {

    background-color: #000000;
    padding-top: 81px;
    margin-top: 118px;
    width: 100%;
}

.parent1 {
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

.footer-div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.footer-div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.footer-div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.footer-div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.footer-div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.footer-div6 {
    grid-area: 2 / 3 / 3 /4;
    background-color: #18205C;
}

.cursor {
    cursor: pointer;
}

ul {
    padding: 0 !important;
}

.gap-30 {
    gap: 30px;
}

.width-0 {
    width: 0;
}

/* margin property */

.mt-87 {
    margin-top: 87px !important;
}

.mt-79 {
    margin-top: 79px !important;
}



.mt-45 {
    margin-top: 45px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.mb-12 {
    margin-bottom: 12px;
}


/* max-width-property */
.max-w-553 {
    max-width: 553px;
}

.max-w-136 {
    max-width: 136px;
}

.max-w-441 {
    max-width: 441px;
}

.max-w-300 {
    max-width: 300px;
}

.profile {
    position: absolute !important;
    left: 2%;
    top: 48%;
    width: 45px;
}

.post-comment {
    position: absolute !important;
    right: 0%;
    top: 100%;
}

.w-45 {
    width: 45px;
}


/* model property */
.select-photos-button {
    border: none;
    border-radius: 35px;
    padding: 15px 28px;
    color: #5C5C5C;
}

.create-post-button {
    border: none;
    border-radius: 40px;
    padding: 11px 28px;
}

.post-title {
    width: 932px;
    height: 60px;
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
}

.select-input {
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding-left: 24px;
    padding-right: 18px;
    margin-left: 14px;

}

.textarea {
    width: 100%;
    height: 263px;
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding: 15px 28px;
    color: #666666;
    resize: none;
}

.dropdown-button {
    padding: 15px 24px;
    background: transparent;
    border: 0;

}
























































@media(min-width:576px) {
    .parent {
        display: grid;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 /3;
    }

    .box1 {
        top: 35%;
        right: 4%;
        padding: 11px 20px;
    }

    .profile {
        position: absolute !important;
        left: 1%;
        top: 43%;
        width: 55px;
    }

    .post-comment {
        position: absolute !important;
        right: 0.65%;
        top: 43%;
    }

    .mt-sm-34 {
        margin-top: 34px;
    }

    .card3 {
        padding: 34px;
    }

    ::placeholder {
        font-family: "Poppins", sans-serif;
        font-weight: var(--fw-sm);
        font-size: var(--fs-lg);
        line-height: 150%;
    }

    .input {
        height: 70px;
    }

    .w-sm-55 {
        width: 55px;
    }
}

@media(min-width:768px) {

    /* hover effect */
    .card2:hover {
        cursor: pointer;
        scale: 1.07;
    }

    .card1:hover {
        cursor: pointer;
        scale: 1.05;
    }

    .nav-button:hover {
        background-color: #EAEDFF;
        color: #2C49FE !important;
        scale: 1.08;
    }

    .nav-attribute:hover {
        font-weight: bold !important;
        scale: 1.09;
        cursor: pointer;
    }

    .post-comment:hover {
        background-color: #4B8DFF;
    }

    .footer-logo:hover {
        cursor: pointer;
        scale: 1.04;
    }

    .social-media:hover {
        scale: 1.2;
        cursor: pointer;
    }

    .box1 {
        top: 50%;
        right: 4%;
    }
}

@media(min-width:1200px) {
    .box1 {
        top: 40%;
        right: 4%;
    }
}

@media(min-width:1400px) {
    .box1 {
        top: 50%;
        right: 4%;
    }
}


@media(max-width:992px) {
    .menu-icon {
        width: 40px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        flex-direction: column;
        background: unset;
        justify-content: space-between;
        z-index: 2;
    }

    .justify-sm-content {
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: #2C49FE;
        border-radius: 5px;
        transition: all 100ms linear;
    }

    .menu-list {
        flex-direction: column !important;
        justify-content: center;
        top: 0;
        background-color: #01C8FF;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 100ms linear;
    }

    .menu-list div {
        color: white !important;
    }

    .nav-button {
        padding: 0;
        background-color: unset !important;
    }

    .nav-button:hover {
        background-color: unset;

    }

    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }

    .menu-list.show {
        right: 0;
    }

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 34px;
    }
}